html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#container {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: gray;
  padding: 20px;

}

form {
  display: flex;
  flex-direction: column;
  
  margin: 10px;
}

form label {
  color: white;
}

form input {
  margin-bottom: 10px;
  height: 30px;
}

#button {

  width: 100px;
 


  padding-top: 20px;



}